<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Message partials</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <div class="message-feed--container" th:fragment="messageFeed(messages)">
            <div th:each="message : ${messages}">
                <div th:replace="fragments/feedPartials :: messageContent(message=${message})">
                    messageContent
                </div>

                <div class="comments-container">
                    <div th:each="comment : ${message.comments}">
                        <div th:replace="fragments/feedPartials :: commentContent(comment=${comment})">
                            commentContent
                        </div>
                    </div>
                    <div th:replace="fragments/feedPartials :: commentForm(parentMessage=${message})">
                        commentForm
                    </div>
                </div>
            </div>
        </div>

        <div class="message-content--container" th:fragment="messageContent(message)">
            <div class="message-content--text" th:text="${message.content}">msg</div>
            <div class="message-meta--container">
                <div class="message-meta--item">
                    <span class="message-meta--published" th:text="${#temporals.format(message.pubDateTime, 'dd.MM.yyyy HH:mm')}">pubDateTime</span>
                </div>
                <div class="message-meta--item">
                    <a class="message-meta--avatar" th:href="@{/users/{slug}(slug=${message.user.slug})}">
                        <img
                            src="../public/img/profile-placeholder.jpg"
                            th:src="${message.user.profileImage != null} ? @{/files/{profileImageUrl}(profileImageUrl=${message.user.profileImage.imageUrl})} : @{/img/profile-placeholder.jpg}" 
                            th:alt="'Profile image of ' + ${message.user.name}" />
                    </a>    
                </div>
                <div class="message-meta--item">
                    <a class="message-meta--author-url" th:text="${message.user.name}" th:href="@{/users/{slug}(slug=${message.user.slug})}">author</a>    
                </div>
            </div>
            
        </div>
        
        <div class="comment-content--container" th:fragment="commentContent(comment)">
            <div class="comment-content--text" th:text="${comment.content}">cmt</div>
            <div class="comment-meta--container">
                <div class="comment-meta--item">
                    <span class="comment-meta--published" th:text="${#temporals.format(comment.pubDateTime, 'dd.MM.yyyy HH:mm')}">pubDateTime</span>
                </div>
                <div class="comment-meta--item">
                    <a class="comment-meta--avatar" th:href="@{/users/{slug}(slug=${comment.user.slug})}">
                        <img
                            src="../public/img/profile-placeholder.jpg"
                            th:src="${comment.user.profileImage != null} ? @{/files/{profileImageUrl}(profileImageUrl=${comment.user.profileImage.imageUrl})} : @{/img/profile-placeholder.jpg}" 
                            th:alt="'Profile image of ' + ${comment.user.name}" />
                    </a>    
                </div>
                <div class="comment-meta--item">
                    <a class="comment-meta--author-url" th:text="${comment.user.name}" th:href="@{/users/{slug}(slug=${comment.user.slug})}">author</a>    
                </div>
                
            </div>
            
        </div>
        
        <div class="message-form" th:fragment="messageForm">
            <h2>Post a message</h2>
            <form method="POST" th:action="@{/messages}">
                <label for="messageContent">Your message</label>
                <textarea name="messageContent" rows="4" cols="50"></textarea>
                <input type="submit" value="Post"/>
            </form>
        </div>
        
        <div class="comment-form" th:fragment="commentForm(parentMessage)">
            <h2>Reply</h2>
            <form method="POST" th:action="@{/messages/{id}/comment(id=${message.id})}">
                <label for="messageContent">Your message</label>
                <textarea name="messageContent" rows="4" cols="50"></textarea>
                <input type="submit" value="Reply"/>
            </form>
        </div>

    </body>
</html>
