<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Message partials</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <div class="message-feed--container" th:fragment="messageFeed(messages)">
            <div th:each="message : ${messages}">
                <div th:replace="fragments/feedPartials :: messageContainer(item=${message})">
                    messageContent
                </div>
            </div>
        </div>
        
        <div class="message-content--container" th:fragment="messageContainer(item)">
            <article class="media">
                <figure class="media-left" th:replace="fragments/feedPartials :: mediaLeft(user=${item.user})">
                   Image
                </figure>
                <div class="media-content">
                    <div class="content" th:replace="fragments/feedPartials :: messageContent(item=${item})">
                        Message Content
                    </div>
                    <nav class="level is-mobile" th:replace="fragments/feedPartials :: messageNav(item=${item})">
                        Message Nav
                    </nav>
                    <div th:each="comment : ${message.comments}">
                        <div th:replace="fragments/feedPartials :: commentContainer(item=${comment})">
                            commentContent
                        </div>
                    </div>
                    <div th:replace="fragments/commentForm :: commentForm(parent=${message})">
                        commentForm
                    </div>
                </div>        
            </article>
        </div>
        
        <div class="comment-content--container" th:fragment="commentContainer(item)">
            <article class="media">
                <figure class="media-left" th:replace="fragments/feedPartials :: mediaLeft(user=${item.user})">
                   Image
                </figure>
                <div class="media-content">
                    <div class="content" th:replace="fragments/feedPartials :: messageContent(item=${item})">
                        Message Content
                    </div>
                    <nav class="level is-mobile" th:replace="fragments/feedPartials :: messageNav(item=${item})">
                        Message Nav
                    </nav>
                </div>
            </article>
        </div>
        
        
        <figure class="media-left" th:fragment="mediaLeft(user)">
            <p class="image is-64x64">
                <a class="message-meta--avatar" th:href="@{/users/{slug}(slug=${user.slug})}">
                    <img
                        src="../public/img/profile-placeholder.jpg"
                        th:src="${user.profileImage != null} ? @{/files/{profileImageUrl}(profileImageUrl=${user.profileImage.imageUrl})} : @{/img/profile-placeholder.jpg}" 
                        th:alt="'Profile image of ' + ${user.name}" />
                </a>    
            </p>
        </figure>        
        
        <div class="content" th:fragment="messageContent(item)">
            <p>
                <a class="message-meta--author-url" th:text="${item.user.name}" th:href="@{/users/{slug}(slug=${item.user.slug})}">author</a>
                <br>
                <span class="message-meta--published" th:text="${#temporals.format(item.pubDateTime, 'dd.MM.yyyy HH:mm')}">pubDateTime</span>
            </p>
            <div class="message-content--text" th:text="${item.content}">cmt</div>
        </div>
        
        <nav class="level is-mobile" th:fragment="messageNav(item)">
            <div class="level-left">
              <a class="level-item">
                   Comment
              </a>
              <div class="level-item">
                  <a class="message-action" th:if="${#lists.size(item.upVotes.?[user.username == #authentication.getPrincipal().getUsername()]) == 0}"
                     th:href="${item instanceof T(projekti.model.Message)} ? @{/messages/{id}/upvote(id=${item.id})} : @{/comments/{id}/upvote(id=${item.id})}"
                     >
                      Up vote</a>
                  <span th:if="${#lists.size(item.upVotes)} > 0" class="message-upvote-count" th:text="${#lists.size(item.upVotes) + ' upvotes'}">voteCount</span>
              </div>
            </div>
        </nav>
        
    </body>
</html>
