<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Comment form</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div class="message-form" th:fragment="messageForm(currentUser)">
            <h2 class="title is-4 is-spaced bd-anchor-title">What's on your mind?</h2>
            <div class="media">
                <figure class="media-left" th:replace="fragments/feedPartials :: mediaLeft(user=${currentUser})">
                   Image
                </figure>
                <div class="media-content">
                    
                    <form method="POST" th:action="@{/messages}">
                        <div class="field">
                            <div class="control">
                                <textarea class="textarea" placeholder="Add a message..." name="messageContent" rows="4" cols="50"></textarea>
                            </div>
                        </div>
                        <div class="control">
                            <input class="button is-primary" type="submit" value="Post"/>
                         </div>

                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
