<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Message partials</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        
        <div class="message-feed" th:fragment="messageFeed(messages, user)">
            <div th:each="message : ${messages}">
                <div th:text="${message.content}">msg</div>
                <span th:text="${#temporals.format(message.pubDateTime, 'dd.MM.yyyy HH:mm')}">pubDateTime</span>
                <a th:href="@{/accounts/{slug}(slug=${user.slug})}">
                    <img
                        src="../images/profile-placeholder.png"
                        th:src="${user.profileImage != null} ? @{/files/{profileImageUrl}(profileImageUrl=${user.profileImage.imageUrl})} : @{/images/profile-placeholder.png}" 
                        th:alt="'Profile image of ' + ${user.name}" />
                </a>
                <a th:text="${message.user.name}" th:href="@{/accounts/{slug}(slug=${user.slug})}">author</a>
                
                <div th:replace="fragments/messagePartials :: commentForm(parentMessage=${message})">
                    messageForm
                </div>
            </div>
        </div>

        <div class="message-form" th:fragment="messageForm">
            <h2>Post a message</h2>
            <form method="POST" th:action="@{/messages}">
                <label for="messageContent">Your message</label>
                <textarea name="messageContent" rows="4" cols="50"></textarea>
                <input type="submit" value="Post"/>
            </form>
        </div>
        
        <div class="comment-form" th:fragment="commentForm(parentMessage)">
            <h2>Reply</h2>
            <form method="POST" th:action="@{/messages}">
                <label for="messageContent">Your message</label>
                <textarea name="messageContent" rows="4" cols="50"></textarea>
                <input type="submit" value="Reply"/>
            </form>
        </div>

    </body>
</html>
