<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layoutGlobals :: head(title='Home')"></head>
    <body>
        <header th:replace="fragments/layoutGlobals :: header">
            <p>menu</p>
        </header>

        <h2>Users</h2>

        <ol>
            <li th:each="account : ${accounts}">
                <span th:text="${account.username}">msg</span>
                <span th:text="${account.slug}">msg</span>
            </li>
        </ol>

    </body>
</html>
