<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layoutGlobals :: head(title='Home')"></head>
    <body>
        <header th:replace="fragments/layoutGlobals :: header(currentUser=${currentUser})">
            <p>menu</p>
        </header>
        
        <section class="section section--feed-form">
            <div class="container">                        
                <div th:replace="fragments/messageForm :: messageForm(currentUser=${currentUser})">
                    messageForm
                </div>
            </div>
        </section>
        <section class="section section--feed-messages">
            <div class="container">
                <div th:replace="fragments/feedPartials :: messageFeed(messages=${messages})">
                    messages
                </div>        
            </div>    
        </section>
    </body>
</html>
