<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layoutGlobals :: head(title='Home')"></head>
    <body class="home">
        
        <header th:replace="fragments/layoutGlobals :: header(currentUser=${null})">
            <p>menu</p>
        </header>
        
        <div class="content-wrapper">
            <div class="home-content content">
                <h1 class="has-text-white">The office space</h1>
                <p>Hey great to see you! This is a platform for building your office space networks. Go ahead and log in or sign up if you haven't done that already. Cool, see you on the other side!</p>
                <a class="button is-primary" th:href="@{/register}">Sign up</a>
                <a class="button  is-primary is-inverted is-outlined" th:href="@{/login}">Log in</a>
            </div>
            
        </div>
        
    </body>
</html>
