<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layoutGlobals :: head(title='Profile - ' + ${user.name})"></head>
    <body>
        <header th:replace="fragments/layoutGlobals :: header(user=${user})">
            <p>menu</p>
        </header>
        <h1 th:text="${user.name}">Name</h1>
                
        <div class="profile-image">
            <img
                src="../public/img/profile-placeholder.jpg"
                th:src="${user.profileImage != null} ? @{/files/{profileImageUrl}(profileImageUrl=${user.profileImage.imageUrl})} : @{/img/profile-placeholder.jpg}" 
                th:alt="'Profile image of ' + ${user.name}" />
        </div>
        <div><a th:href="@{/users/{slug}/images/upload(slug=${user.slug})}">Change profile image</a></div>
        
        
        <h2>Skills</h2>
        <ul>
            <li th:each="skillRating : ${user.skillRatings}">
                <span th:text="${skillRating.skill.name}">Skill name</span>
                <span th:text="${skillRating.rating}">Skill rating</span>
                <div th:if="${#authentication.getPrincipal().getUsername()} != ${user.username}" class="skill-actions">
                    <form method="POST" th:action="@{/users/{slug}/skills/{skillId}(slug=${user.slug},skillId=${skillRating.skill.id})}">
                        <input type="hidden" name="value" value="vote"/>
                        <input type="submit" value="Upvote"/>
                    </form>
                </div>
            </li>
        </ul>
        
        <h3>Add a new skill</h3>
        <form method="POST" th:action="@{/users/{slug}/skills(slug=${user.slug})}">
            <label for="skillname">Skill</label>
            <input type="text" name="skillName"/>
            <input type="submit" value="Add new skill"/>
        </form>
        
        
        <div th:replace="fragments/feedPartials :: messageFeed(messages=${messages})">
            messages
        </div>
    </body>
</html>
