<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="fragments/layoutGlobals :: head(title='Upload image')"></head>
    <body>
        <header th:replace="fragments/layoutGlobals :: header(currentUser=${currentUser})">
            <p>menu</p>
        </header>

        <section class="section section--upload">
            <div class="container">                
                <h1 class="title is-3 is-spaced bd-anchor-title">Upload a profile image</h1>
                <div>
                    <form method="POST" enctype="multipart/form-data" th:action="@{/users/{slug}/images(slug=${currentUser.slug})}">
                        <label class="file-label" for="file">File to upload</label>
                        <input type="file" name="file" />
                        <input class="button is-primary" type="submit" value="Upload" />
                    </form>
                </div>
            </div>
        </section>        

    </body>
</html>
